<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.infogen.ims.mapper.DeptMapper">
    <select id="findAll" parameterType="com.infogen.ims.common.vo.DeptVo" resultType="com.infogen.ims.common.CamelMap">
        SELECT  
              A.DEPT_CD
            , A.DEPT_NAME
            , CASE WHEN A.EMP_GM = C.USER_ID THEN C.USER_NM
                   ELSE A.EMP_GM
              END AS EMP_GM
            , CASE WHEN A.EMP_PR = B.USER_ID THEN B.USER_NM
                   ELSE A.EMP_PR
              END AS EMP_PR
            , A.DEPT_USE_YN
            , A.RMKS
            , A.REG_DATE 
            , A.REG_EMP_NO
            , A.CHG_DATE
            , A.CHG_EMP_NO 
          FROM TB_DEPT A
          LEFT JOIN TB_AUTH_USER B 
            ON A.DEPT_CD = B.DEPT_CD
          LEFT JOIN tb_auth_user C 
            ON A.EMP_GM = C.USER_ID
         ORDER BY A.DEPT_CD 
    </select>

    <insert id="insertDeptSave" parameterType="com.infogen.ims.common.vo.DeptVo" >
        <selectKey keyProperty="deptCd" resultType="String" order="BEFORE">
            SELECT COALESCE(MAX(DEPT_CD), 0) + 1
              FROM TB_DEPT
             WHERE 1 = 1
               AND DEPT_CD NOT LIKE '9%'
        </selectKey>
        INSERT INTO TB_DEPT (
            DEPT_CD,
            DEPT_NAME,
            EMP_PR,
            EMP_GM,
            DEPT_USE_YN,
            RMKS,
            REG_DATE,
            REG_EMP_NO,
            CHG_DATE,
            CHG_EMP_NO
        ) VALUES (
            #{deptCd},
            #{deptName},
            #{empPr},
            #{empGm},
            #{deptUseYn},
            #{rmks},
            #{regDate},
            #{regEmpNo},
            #{chgDate},
            #{chgEmpNo}
        )
    </insert>
    <select id="deptSelect" parameterType="String" resultType="com.infogen.ims.common.CamelMap">
        SELECT  
              B.DEPT_CD
            , B.DEPT_NAME
            , CASE WHEN B.EMP_GM = A.USER_ID THEN A.USER_NM ELSE '' END AS EMP_GM
            , C.USER_NM AS EMP_PR
            , B.DEPT_USE_YN
            , B.RMKS
            , B.REG_DATE 
            , B.REG_EMP_NO
            , B.CHG_DATE
            , B.CHG_EMP_NO 
          FROM TB_AUTH_USER a
         INNER JOIN TB_DEPT b 
            ON a.USER_ID = b.EMP_GM
          LEFT JOIN TB_AUTH_USER c 
            ON b.EMP_PR = c.USER_ID
         WHERE B.DEPT_NAME LIKE '%${deptName}%'
         ORDER BY b.DEPT_CD
    </select>
</mapper>