<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.infogen.ims.mapper.ReportMapper">
    <select id="findAll" parameterType="map" resultType="com.infogen.ims.common.CamelMap">
        SELECT *
          FROM TB_WEEKLY_REPORT
         WHERE REPORT_DT = #{reportDt}
    </select>
</mapper>